.anchor-pane, .h-box, .Pane, .v-box, .stack-pane, .grid-pane, .flow-pane, .tile-pane, .border-pane, .scroll-pane, .split-pane, .split-pane-divider {
    -fx-background-color: #111111;
}

.label, .button, .text, .menu-item, .toggle-button, .check-box, .radio-button, .list-view, .combo-box, .table-view, .table-cell, .Text, .Font {
    -fx-text-fill: #FFFFFF;
}

/******* images *******/
.white-image {
    -fx-effect: innershadow(gaussian, #FFFFFF, 0, 0, 0, 50);
    -fx-opacity: 1;
}

.orange-image {
    -fx-effect: innershadow(gaussian, #FF5722, 0, 0, 0, 50);
    -fx-opacity: 1;
}

/******* Text *******/
.underline {
    text-decoration: underline white;
}

/******* Text Color *******/
.orange-text {
    -fx-text-fill: #FF5722 !important;
}

/******* Spacing *******/
.small-letter-spacing {
    -fx-letter-spacing: 3px;
}

/******* Menu *******/
.custom-background-dark {
    -fx-background-color: #111111 !important;
}

/* Setzt einen weißen Rand nur auf der rechten Seite des AnchorPane */
#menu {
    -fx-border-width: 0 5px 0 0;  /* oben, rechts, unten, links */
    -fx-border-color: transparent white transparent transparent; /* Randfarbe */
    -fx-border-style: solid;  /* Stil des Rands */
}

